body {
    color: #e6e6e6;
    font-family: "Roboto", sans-serif;
    font-size: 14pt;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}

.background {
    background-image: url("../images/alum_rock_bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* Sizing Adjustments */
    height: auto;
    width: 100%;
    /* Position adjustments */
    position: fixed;
    top: 0;
    left: 0;
}

.background_filter {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: contrast(125%) blur(4px);
    height: 100vh;
    width: 100%
}

.background-text {
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.title {
    border: 3px solid whitesmoke;
    position: absolute;
    top: 12%;
    left: 50%;
    padding: 0 100px;
    text-align: center;
    transform: translate(-50%, -50%);
}

.clue {
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
    margin: 300px 0 0 0;
    left: 50%;
    width: 50%;
    text-transform: none;
    letter-spacing: 0.1em;
    text-align: left;
    padding: 20px;
    transform: translateX(-50%);
}

.hint {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0 100px;
    text-align: center;
    transform: translate(-50%, -50%);
}

input {
    color: white;
    border: none;
    outline: none;
    font-family: "Roboto", sans-serif;
    background-color: rgba(0, 0, 0, 0);
    font-weight: bold;
    text-align: center;
    padding: 5px;
    font-size: 15pt;
}

.footer {
    color: whitesmoke;
    position: fixed;
    text-align: center;
    font-size: 10px;
    letter-spacing: 0.2em;
    margin: 0;
    bottom: 8px;
    right: 13px;
}

.user-input {
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    font-weight: bold;
    position: relative;
    margin: 100px 0 0 0;
    left: 50%;
    width: 50%;
    padding: 20px;
    text-align: center;
    transform: translateX(-50%);
}

#next {
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    color: white;
    font-size: 20pt;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-weight: bold;
    position: relative;
    margin: 100px 0 0 0;
    left: 50%;
    padding: 20px;
    text-align: center;
    transform: translateX(-50%);
}